.box1 {
    height: 100vh;
    background-color: lightgreen;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.box2 {
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.img {
    width: 30% ;
    position: relative;
    top: 270px;
}
.mes1 {
    width: 20% ;
    position: relative;
    /* top: 200px; */
    bottom: 230px;
    right: 50px;
}
.mes2 {
    width: 30% ;
    position: relative;
    left: 700px;
    bottom: 500px;
}

.sec1 {
    width: 900px;
    height: 500px;
    position: relative;
    right: 360px;
    bottom: 260px ;
}

.bob {
    width: 40% ;
    position: relative;
    top: 230px;
}
.qe {
    width: 900px;
    position: relative;
    right: 950px;
    top: -33%;
}

